<!DOCTYPE html>
<html>
<head>
<title>AI Study Pro</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>⚡ AI Study</h2>
    <button onclick="showTab('chat')">Chat</button>
    <button onclick="showTab('pdf')">PDF</button>
    <button onclick="showTab('summary')">Summarize</button>
</div>

<div class="main">

    <div id="chat" class="tab">
        <h2>💬 Chat AI</h2>
        <div id="chat-box"></div>
        <input id="msg">
        <button onclick="send()">Send</button>
    </div>

    <div id="pdf" class="tab hidden">
        <h2>📄 Upload PDF</h2>
        <input type="file" id="pdfFile">
        <button onclick="uploadPDF()">Upload</button>
        <input id="pdfQ" placeholder="Ask from PDF">
        <button onclick="askPDF()">Ask</button>
        <div id="pdfAns"></div>
    </div>

    <div id="summary" class="tab hidden">
        <h2>🧠 Summarizer</h2>
        <textarea id="text"></textarea>
        <button onclick="summarize()">Summarize</button>
        <div id="sum"></div>
    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>